/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
	--primaryColor: rgb(var(--primaryColorS));
	--titleColor1: rgb(var(--titleColor1S));
	--mainCyan: rgb(var(--mainCyanS));
}

body.whiteTheme {
	--white: #fff;
	--primaryColorS: 255, 187, 236;
	--mainCyanS: 169, 201, 255;
	--backgroundColor: var(--white);
	--other: #262a2b;
	--titleColor1S: 255, 114, 185;
	--paragraphColor: #707070;
	--circleColor: #ffefad;
	--cardColor: var(--white);
	--cardColor1: #afc8fe;
	--cardColor2: #18d0e9;
	--cardColor3: #ffc730;
	--cardColor4: #fda57a;
	--aboutusColor: url(../images/img3.jpg);
	--formColor: var(--white);
	--formFontColor: unset;
	--contactBg: #ffe4f1;
	--svg: url(../images/formW.svg);
}

body.blackTheme {
	--white: #d0ccc5;
	--primaryColorS: 114, 25, 70;
	--mainCyanS: 63, 93, 145;
	--backgroundColor: #262a2b;
	--other: var(--white);
	--titleColor1S: 185, 70, 128;
	--paragraphColor: var(--white);
	--circleColor: #c4a932;
	--cardColor: #363a3c40;
	--cardColor1: #b7c4dd;
	--cardColor2: #2fbdd0;
	--cardColor3: #eabd43;
	--cardColor4: #f0ac8a;
	--aboutusColor: linear-gradient(13deg, #32196d66, #6b015ca1, #2151a566);
	--formColor: #333333f5;
	--formFontColor: var(--white);
	--contactBg: #331826 !important;
	--svg: url(../images/formB.svg);
}

:root {
	--cardfont: var(--fontsize2);
	--footerfont: var(--fontsize2);
	--fontsize1: 15.5px;
	--fontsize2: 18px;
	--fontsize3: 25px;
	--fontsize4: 35px;
	--fontsize5: 64px;
	--fontsize6: 71px;
	--radiant: 797px;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	background: var(--backgroundColor);
}

header {
	position: relative;
	overflow: hidden;
	height: clamp(545px, calc(100vh - 7.83vh), 730px);
}

@media (max-width: 799px) {
	header {
		min-height: 750px;
		height: 98vh;
		max-height: 900px;
	}
}

header .container {
	z-index: 3;
}

header .course {
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	z-index: 3;
}

@media (max-width: 799px) {
	header .course {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

header .box {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (max-width: 799px) {
	header .box {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
	}
}

header .title {
	color: var(--white) !important;
}

header .title::after {
	background-color: var(--white) !important;
	border-color: var(--white) !important;
	width: 563px;
}

@media (max-width: 1055px) {
	header .title::after {
		width: 425px;
	}
}

@media (max-width: 799px) {
	header .title {
		margin-bottom: 63px;
	}
}

header .title h1,
header .title h2 {
	margin: 0;
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

header p {
	width: 493px;
	font-size: var(--fontsize1);
	line-height: 19px;
	color: var(--white);
	margin-top: 31px;
	margin-bottom: 24px;
	text-align: justify;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

@media (max-width: 1055px) {
	header p {
		width: 372px;
	}
}

@media (max-width: 799px) {
	header p {
		width: 100%;
		height: 95px;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
}

header .img {
	position: relative;
}

header .img,
header .img img {
	width: 323px;
	height: 501px;
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

header .img:after {
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
	content: "";
	left: 30px;
	z-index: -1;
	width: var(--radiant);
	height: var(--radiant);
	background-color: var(--circleColor);
}

@media (max-width: 1055px) {
	header .img,
	header .img img {
		width: 244px;
		height: 378px;
	}
	header .img:after {
		--radiant: 602px;
	}
}

@media (max-width: 799px) {
	header .img,
	header .img img {
		width: 232px;
		height: 359px;
	}
	header .img:after {
		left: 50% !important;
		-webkit-transform: translate(-50%, -50%) !important;
		-ms-transform: translate(-50%, -50%) !important;
		transform: translate(-50%, -50%) !important;
		--radiant: 386px;
	}
}

@media (max-width: 576px) {
	header .img,
	header .img img {
		width: 231px;
		height: 358px;
	}
	header .img:after {
		--radiant: 307px;
	}
}

header a {
	text-decoration: none;
	color: var(--white);
	padding: 4px 43px 9px 19px;
	max-width: 189px;
	font-size: var(--fontsize3);
	background-color: var(--titleColor1);
	border-radius: 34px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

header a:hover {
	-webkit-box-shadow: 0px 0px 0px 3px var(--white);
	box-shadow: 0px 0px 0px 3px var(--white);
}

@media (max-width: 1055px) {
	header a {
		max-width: 143px;
		padding: 3px 37px 7px 15px;
	}
}

@media (max-width: 799px) {
	header a {
		padding: 5px 35px 9px 33px;
		max-width: 170px;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
}

.content2 {
	border: 3px solid var(--paragraphColor);
	height: clamp(730px, 100vh, 900px);
	border-left: none;
	border-right: none;
	overflow: hidden;
	position: relative;
}

@media (max-width: 799px) {
	.content2 {
		border: none;
		height: unset;
	}
	.content2 .image {
		display: none;
	}
}

.content2 .container {
	margin: auto;
}

@media (min-width: 799px) {
	.content2 .container {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.content2 .right {
	width: 788px;
	margin: auto 48px;
}

@media (max-width: 799px) {
	.content2 .right {
		margin: 0;
	}
}

.content2 .image {
	width: 530px;
	height: 600px;
	position: relative;
	left: 0;
	background: transparent url("../images/img2.jpg") no-repeat padding-box;
	background-size: cover;
}

.content2 .image::before {
	content: "";
	position: absolute;
	background-color: var(--primaryColor);
	width: 1500px;
	height: 799px;
	right: 38.7%;
	z-index: -1;
}

.content2 .title::after {
	width: 100%;
}

.content2 p {
	width: 327px;
	font-size: var(--fontsize2);
	line-height: 23px;
	color: var(--paragraphColor);
	text-align: justify;
	margin: 39px 22px 38px 0;
}

@media (max-width: 799px) {
	.content2 p {
		width: 100%;
		margin: 39px 0;
	}
}

.aboutUs {
	position: relative;
	width: 100%;
	width: 100%;
	height: 540px;
	background: -o-linear-gradient(77deg, #a88ee5, #fea1f1, #336ed6);
	background: linear-gradient(13deg, #a88ee5, #fea1f1, #336ed6);
	background: var(--aboutusColor);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 1055px) {
	.aboutUs {
		height: 408px;
	}
}

@media (max-width: 799px) {
	.aboutUs {
		height: 781px;
	}
}

@media (max-width: 576px) {
	.aboutUs {
		height: 1331px;
	}
}

.aboutUs .title {
	color: var(--white) !important;
	padding-top: 42px;
	margin-bottom: 46px;
}

.aboutUs .title::after {
	background-color: var(--white) !important;
	border-color: var(--white) !important;
	width: 563px;
}

.aboutUs .flex {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media (max-width: 799px) {
	.aboutUs .flex {
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.aboutUs .flex > * {
		-ms-flex-preferred-size: 196px;
		flex-basis: 196px;
		margin-bottom: 26px;
	}
}

@media (max-width: 576px) {
	.aboutUs .flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.aboutUs .flex > * {
		-ms-flex-preferred-size: unset;
		flex-basis: unset;
		margin-bottom: unset;
	}
}

.card {
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
	background: var(--cardColor);
	overflow: hidden;
	border: 6px solid;
	border-radius: 49px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	-webkit-box-shadow: 0px 3px 6px #00000029;
	box-shadow: 0px 3px 6px #00000029;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 260px;
	height: 349px;
}

.card img {
	width: 120px;
	height: 120px;
	border: 12px solid;
	background-size: cover;
	margin-top: 10px;
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

@media (max-width: 799px) {
	.card img {
		border: 10px solid;
	}
}

.card section h3 {
	margin-top: 33px;
	font: normal 800 var(--cardfont)/22px Montserrat;
}

.card section h4 {
	margin-top: 2px;
	font: normal 400 var(--cardfont)/19px Montserrat;
}

.card .rs {
	-webkit-transform: translateY(80px);
	-ms-transform: translateY(80px);
	transform: translateY(80px);
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
	margin-top: 5px;
}

.card .rs a {
	color: inherit;
}

.card .rs i {
	margin: 0 7px;
	font-size: 1.25em;
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

.card .rs i:hover {
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
}

.card:hover {
	border-color: var(--cardColor) !important;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 4;
}

.card:hover .rs {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

@media (max-width: 1055px) {
	.card {
		width: 196px;
		height: 263px;
	}
}

@media (max-width: 576px) {
	.card {
		margin-top: 31px;
	}
	.card:nth-child(1) {
		margin-top: 0;
	}
}

@media (max-width: 226px) {
	.card {
		width: 90%;
	}
}

.card:nth-of-type(1) {
	color: var(--cardColor1);
}

.card,
.card img:th-child(1) {
	border-color: var(--cardColor1);
}

.card:nth-of-type(2) {
	color: var(--cardColor2);
}

.card,
.card img:th-child(2) {
	border-color: var(--cardColor2);
}

.card:nth-of-type(3) {
	color: var(--cardColor3);
}

.card,
.card img:th-child(3) {
	border-color: var(--cardColor3);
}

.card:nth-of-type(4) {
	color: var(--cardColor4);
}

.card,
.card img:th-child(4) {
	border-color: var(--cardColor4);
}

@media (min-width: 799px) {
	body.whiteTheme .contactUs::before {
		background: transparent -o-linear-gradient(134deg, var(--mainCyan) 0%, var(--primaryColor) 100%) 0% 0% no-repeat padding-box;
		background: transparent linear-gradient(316deg, var(--mainCyan) 0%, var(--primaryColor) 100%) 0% 0% no-repeat
			padding-box;
	}
}

.contactUs {
	position: relative;
	overflow: hidden;
	height: clamp(684px, 100vh, 900px);
}

@media (max-width: 799px) {
	.contactUs {
		height: unset;
	}
	.contactUs .container {
		margin: 30px auto;
	}
	.contactUs .left {
		margin-bottom: 30px;
	}
}

.contactUs::before {
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
	content: "";
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	background: var(--contactBg);
}

@media (max-width: 799px) {
	.contactUs::before {
		width: 100%;
		height: 60%;
	}
}

.contactUs .container {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: inherit;
}

@media (max-width: 799px) {
	.contactUs .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
}

.contactUs .right,
.contactUs .left {
	width: 50%;
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

@media (max-width: 799px) {
	.contactUs .right,
	.contactUs .left {
		width: 100%;
	}
}

.contactUs .left {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 300px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media (max-width: 799px) {
	.contactUs .left {
		height: unset;
	}
}

.contactUs .left .title::after {
	width: 80%;
	max-width: 499px;
}

@media (max-width: 799px) {
	.contactUs .left .title {
		margin-bottom: 46px;
	}
}

.contactUs .left .info p {
	width: 388px;
	margin-top: auto;
	line-height: 23px;
	color: var(--paragraphColor);
	font-size: var(--fontsize2);
}

@media (max-width: 1055px) {
	.contactUs .left .info p {
		width: 300px;
	}
}

@media (max-width: 799px) {
	.contactUs .left .info p {
		width: 100%;
	}
}

.contactUs .left .info p a {
	color: var(--titleColor1);
}

.contactUs .left .info p a:hover {
	text-decoration: underline;
}

.contactUs .left .social {
	width: 274.5px;
	margin-top: 30px;
	margin-bottom: 15px;
}

@media (max-width: 799px) {
	.contactUs .left .social {
		width: 80%;
		margin-top: 15px;
		margin: 15px auto;
	}
}

.contactUs .left .social ul {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (max-width: 799px) {
	.contactUs .left .social ul {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
}

.contactUs .left .social ul li {
	list-style-type: none;
}

.contactUs .left .social ul li a {
	position: relative;
	cursor: pointer;
	color: var(--titleColor1);
	font-size: 25px;
	display: inline-block;
	width: 52px;
	height: 52px;
	border: 2px var(--titleColor1) solid;
	border-radius: 50%;
}

.contactUs .left .social ul li a:hover {
	background: var(--titleColor1);
}

.contactUs .left .social ul li a:hover i {
	color: var(--white);
}

.contactUs .left .social ul li a:active {
	background: rgba(var(--titleColor1S), 0.5);
}

.contactUs .right {
	z-index: 2;
}

.contactUs .right .outform {
	width: 495px;
	height: 559px;
	padding: 63.5px 50.5px;
	-webkit-box-shadow: 0px 3px 6px #00000029;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 49px;
	background: var(--formColor);
	position: relative;
}

@media (max-width: 799px) {
	.contactUs .right .outform {
		margin: auto;
		width: 398px;
	}
}

@media (max-width: 576px) {
	.contactUs .right .outform {
		width: 100% !important;
	}
}

.contactUs .right .outform::before {
	content: "";
	width: 634px;
	height: 611px;
	background: var(--svg) no-repeat center;
	color: var(--titleColor1);
	z-index: -1;
}

.contactUs .right .outform .form {
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.contactUs .right .outform input,
.contactUs .right .outform textarea,
.contactUs .right .outform button {
	outline: none;
	border: none;
	font-size: var(--fontsize2);
	color: var(--formFontColor);
}

.contactUs .right .outform input,
.contactUs .right .outform button {
	height: 49px;
	border-radius: 25px;
	background: rgba(var(--mainCyanS), 0.25);
}

.contactUs .right .outform input,
.contactUs .right .outform textarea {
	padding: 15px 29px;
}

.contactUs .right .outform input:focus,
.contactUs .right .outform textarea:focus {
	border: solid 2px var(--mainCyan);
}

.contactUs .right .outform button {
	background: var(--mainCyan);
	color: white;
}

.contactUs .right .outform button:hover {
	background: rgba(var(--mainCyanS), 0.8);
}

.contactUs .right .outform button:active {
	background: rgba(var(--mainCyanS), 0.5);
}

.contactUs .right .outform textarea {
	background: rgba(var(--mainCyanS), 0.25);
	height: 148px;
	border-radius: 27px;
	resize: none;
}

@media (max-width: 1055px) {
	.contactUs .right .outform {
		width: 371px;
		height: 420px;
		padding: 48.5px 38px;
	}
	.contactUs .right .outform::before {
		width: 476px;
		height: 458px;
	}
	.contactUs .right .outform input,
	.contactUs .right .outform button {
		height: 36px;
	}
	.contactUs .right .outform textarea {
		height: 111px;
	}
}

@media (min-width: 799px) {
	.contactUs .right .outform {
		margin-left: auto;
	}
}

@media (min-width: 799px) {
	.adresses {
		border-top: 1px solid var(--paragraphColor);
	}
}

.adresses .container {
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (min-width: 799px) {
	.adresses .container {
		height: 222px;
	}
}

.adresses .box {
	margin: 32px 0;
	width: 200px;
	position: relative;
}

.adresses .box,
.adresses .box section {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}

.adresses .box section {
	margin-top: 15px;
}

.adresses .box::before {
	content: "";
	height: 5px;
	top: 0;
	width: 0;
	background: var(--titleColor1);
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

.adresses .box:hover::before {
	width: 100%;
	top: 110%;
	border-radius: 50px;
}

.adresses .box i {
	font-size: 32px;
	color: var(--white);
	position: relative;
	margin: 20px;
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
	z-index: 2;
}

.adresses .box i:hover {
	-webkit-transform: scale(1.1) rotate(30deg);
	-ms-transform: scale(1.1) rotate(30deg);
	transform: scale(1.1) rotate(30deg);
}

.adresses .box i::after {
	content: "";
	border-radius: 50%;
	background: var(--titleColor1);
	width: 72px;
	height: 72px;
	z-index: -1;
}

.adresses .box a {
	color: var(--paragraphColor);
	font-size: var(--fontsize2);
	line-height: 22px;
	text-decoration: none;
}

.adresses .box a:hover {
	text-decoration: underline;
}

footer {
	font-size: var(--footerfont);
	font-weight: 800;
	background: var(--titleColor1);
}

footer .container {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 55px;
	color: var(--white);
}

footer h5 {
	font: normal normal 800 var(--footerfont)/19px Montserrat;
}

footer a {
	color: var(--white);
	margin-left: 15px;
	font: normal normal 800 var(--footerfont)/13px Montserrat;
}

footer a:hover {
	text-decoration: underline;
}

footer::after {
	content: "";
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: 0;
	background: var(--backgroundColor);
}

footer ul li {
	list-style: none;
}

.shortcuts {
	display: none;
	position: fixed !important;
	width: 100%;
	height: 100vh;
	z-index: 4;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.shortcuts.display {
	display: block;
}

.shortcuts.mozilla {
	background: var(--backgroundColor);
}

@media (max-width: 799px) {
	.shortcuts {
		z-index: 10;
	}
}

.shortcuts .container {
	overflow: hidden;
	height: 80vh;
	-webkit-box-shadow: -1px 4px 6px 3px #00000029;
	box-shadow: -1px 4px 6px 3px #00000029;
	background: var(--backgroundColor);
	border: solid 7px var(--titleColor1);
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

@media (max-width: 576px) {
	.shortcuts .container {
		height: 102vh;
	}
}

.shortcuts .container .container2 {
	width: 90%;
	height: 90%;
}

.shortcuts .title {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.shortcuts .title::after {
	width: 100%;
}

.shortcuts section {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 90%;
}

.shortcuts section .right,
.shortcuts section .left {
	width: 47%;
	height: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: (1fr)[7];
	grid-template-rows: repeat(7, 1fr);
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 576px) {
	.shortcuts section .right,
	.shortcuts section .left {
		width: 100%;
		height: 63.63636%;
	}
}

@media (max-width: 576px) {
	.shortcuts section .left {
		-ms-grid-rows: (1fr)[4] !important;
		grid-template-rows: repeat(4, 1fr) !important;
		height: 36.36364% !important;
	}
}

.shortcuts section .row {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.shortcuts section .row .keys span,
.shortcuts section .row .keys b {
	font-size: var(--fontsize2);
	line-height: 28px;
	display: inline-block;
	text-align: center;
	height: 30px;
	margin-left: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.shortcuts section .row .keys span {
	color: var(--white);
	background: #262a2b;
	border: 1px solid var(--paragraphColor);
	width: 30px;
}

.shortcuts section .row .keys b {
	color: var(--paragraphColor);
	width: 10px;
}

.shortcuts section h3 {
	font-size: var(--fontsize2);
	color: var(--paragraphColor);
	line-height: calc(100% + var(--fontsize2));
}

.theme,
.icon {
	right: 55px;
	position: fixed;
	z-index: 5;
	cursor: pointer;
	display: inline-block;
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

@media (max-width: 576px) {
	.theme,
	.icon {
		right: 0;
	}
}

.theme {
	width: 55px;
	height: 30px;
	top: 90px;
	border-radius: 30px;
	border: 5px solid var(--other);
	background: var(--other);
}

@media (max-width: 576px) {
	.theme {
		top: 60px;
	}
}

.theme .circle {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	z-index: 10;
	background: var(--backgroundColor);
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

body.whiteTheme .theme .circle {
	left: 0;
}

body.blackTheme .theme .circle {
	left: calc(100% - 25px);
}

.icon {
	top: 35px;
	margin-right: 10px;
}

@media (max-width: 576px) {
	.icon {
		margin-right: unset;
		top: 0;
		right: 0;
		padding: 8px;
	}
}

.icon .bar1,
.icon .bar2,
.icon .bar3 {
	width: 35px;
	height: 5px;
	background-color: var(--white);
	margin: 6px 0;
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

.icon.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	-ms-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.icon.change .bar2 {
	opacity: 0;
}

.icon.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	-ms-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.icon.change::before {
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	border-radius: 0;
	-webkit-transform: translate(65px, -35px);
	-ms-transform: translate(65px, -35px);
	transform: translate(65px, -35px);
	background: rgba(var(--titleColor1S), 0.7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

@media (max-width: 576px) {
	.icon.change::before {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.icon.change:hover::before {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.icon::before {
	content: "";
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
	position: absolute;
	top: 50%;
	right: 50%;
	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	width: 45px;
	height: 45px;
	padding: 5px;
	z-index: -1;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 0 #00000000;
	box-shadow: 0 0 0 #00000000;
	background: rgba(var(--titleColor1S), 0.9);
}

@media (max-width: 576px) {
	.icon::before {
		border-radius: 0;
	}
}

.icon.mozilla::before {
	background: var(--titleColor1);
}

.icon:hover::before {
	border: 3px solid var(--white);
	-webkit-box-shadow: 0 0 0 1px #00000029;
	box-shadow: 0 0 0 1px #00000029;
}

.navigation {
	width: 600px;
	height: 70vh;
	position: fixed !important;
	display: none;
	z-index: 6;
}

.navigation.display {
	display: block;
}

.navigation nav {
	text-align: center;
}

.navigation i {
	position: absolute;
	font-size: 2.5em;
	top: 35px;
	right: 55px;
}

.navigation ul {
	height: 56vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.navigation ul li {
	list-style: none;
}

.navigation ul li a {
	color: var(--white);
	font-size: var(--fontsize4);
	padding: 10px 30px;
	border-radius: 49px;
	min-width: 100px;
}

.navigation ul li:nth-child(1) a {
	background: var(--backgroundColor);
	color: var(--titleColor1);
}

.navigation ul li:hover a {
	color: var(--titleColor1);
	background: var(--backgroundColor);
	-webkit-box-shadow: 0px 3px 6px #00000029;
	box-shadow: 0px 3px 6px #00000029;
}

.container {
	width: 1141px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.title {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 800;
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
	color: var(--titleColor1);
	text-transform: uppercase;
	margin-bottom: 19px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
}

@media (max-width: 799px) {
	.title {
		text-align: center;
		text-shadow: 0px 3px 6px #00000029;
	}
	.title::after {
		-webkit-box-shadow: 0px 3px 6px #00000029;
		box-shadow: 0px 3px 6px #00000029;
	}
}

.title h1 {
	font-size: var(--fontsize6);
}

.title h2 {
	font-size: var(--fontsize5);
}

.title h3 {
	font-size: var(--fontsize4);
}

.title::after {
	content: "";
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
	background: var(--titleColor1) !important;
	position: absolute;
	height: 6px;
	left: 0;
	bottom: -19px;
}

@media (max-width: 799px) {
	.title::after {
		width: 100% !important;
	}
}

.whitespace {
	position: relative;
	width: 100%;
	height: 7.83vh;
	max-height: 62px;
	background: var(--backgroundColor);
}

@media (max-height: 799px) {
	.whitespace {
		max-height: 7.83vh;
	}
}

a {
	text-decoration: none;
}

.filter {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	z-index: -50;
	position: absolute;
}

header {
	background: transparent -o-linear-gradient(341deg, var(--mainCyan) 0%, var(--primaryColor) 100%) 0% 0% no-repeat padding-box;
	background: transparent linear-gradient(109deg, var(--mainCyan) 0%, var(--primaryColor) 100%) 0% 0% no-repeat
		padding-box;
}

header .course,
header .box,
.contactUs .container,
.contactUs .left,
.contactUs .left .social ul,
.contactUs .right .outform .form,
.adresses .container,
.adresses .box,
.adresses .box section,
footer .container,
.shortcuts .title,
.shortcuts section,
.shortcuts section .row,
.shortcuts section .row .keys,
.navigation ul,
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

footer,
.parent {
	position: relative;
	width: 100%;
}

header .img:after,
.card img {
	border-radius: 50%;
}

.content2 .image::before,
.theme .circle,
.centerY,
header .img:after {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.adresses .box::before {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

header .container,
.contactUs .left .social ul li a i,
.contactUs .right .outform::before,
.adresses .box i::after,
.shortcuts .container,
.shortcuts .container .container2,
.navigation,
.navigation nav {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 1366px) {
	.container {
		max-width: 1014px;
	}
}

@media screen and (max-width: 1055px) {
	.container {
		max-width: 769px;
	}
}

@media screen and (max-width: 799px) {
	.container {
		max-width: 480px;
	}
}

@media screen and (max-width: 576px) {
	.container {
		max-width: 352px;
	}
}

@media (max-width: 380px) {
	.container {
		width: 90%;
	}
	.hide-xs {
		display: none;
	}
}

@media (max-width: 1055px) {
	:root {
		--cardfont: 13px;
		--fontsize1: 14px;
		--fontsize2: 16px;
		--fontsize3: 18px;
		--fontsize4: 26px;
		--fontsize5: 48px;
		--fontsize6: 53px;
	}
}

@media (max-width: 799px) {
	:root {
		--footerfont: 11px;
		--fontsize5: 46px;
		--fontsize6: 57px;
	}
}

@media (max-width: 576px) {
	:root {
		--footerfont: 10px;
		--fontsize5: 35px;
		--fontsize6: 47px;
	}
}
