.aboutUs {
	position: relative;
	width: 100%;
	@include size(100%,540px);
	@media (max-width: $lg) {
		height: 408px;
	}
	@media (max-width: $md) {
		height: 781px;
	}
	@media (max-width: $sm) {
		height: 1331px;
	}
	background: linear-gradient(13deg,#A88EE5,#FEA1F1,#336ED6);
	background: $aboutusColor;
	@extend %imgS;
	background-attachment: fixed;
	.title{
		color: $titleColor2 !important;
		padding-top: 42px;
		margin-bottom: 46px;
		&::after {
			background-color: $titleColor2 !important;
			border-color: $titleColor2 !important;
			width: 563px;
		}
	}
	.main-content {
		@include flex(space-between,null);
		@media (max-width: $md) {
			justify-content: space-around;
			flex-wrap: wrap;
			& >*{
				flex-basis: 196px;
				margin-bottom: 26px;
			}
		}
		@media (max-width: $sm) {
			flex-direction: column;
			align-items: center;
			& >*{
				flex-basis:unset;
				margin-bottom: unset;
			}
		}
	}
}
.card {
	@include flex(center){
		flex-direction: column;
	}
	transition: $transitionTime !important;
	background: $cardColor;
	overflow: hidden;
	border-bottom: $crd-border solid;
	padding: $crd-border $crd-border 0;
	text-align: center;
	box-shadow: 0px 3px 6px #00000029;
	z-index: 2;
	cursor: pointer;
	user-select: none;
	aspect-ratio: $crd-ratio;
	width: 22%;
	img {
		border-radius: $radius;
		@include size(120px);
		border: $crd-border solid;
		margin-top: 10px;
		@extend %imgS;
		transition: $transitionTime;
	}
	section {
		@include cardTitle(h3, 33px, 800, $fs2, 22px);
		@include cardTitle(h4, 2px, 400, $fs1, 19px);
	}
	.rs{
		transform: translateY(80px);
		transition: $transitionTime;
		margin-top: 7px;
		a{color: inherit}
		i{
			margin: 0 7px;
			font-size: 1.25em;
			transition: $transitionTime;
			&:hover{
				transform: scale(1.25);
			}
		}
	}
	&:hover{
		border-color: transparent !important;
		transform: scale(1.1);
		background: rgb(208 ,204 ,197, 22%);
		z-index: 4;
		.rs{
			transform: translateY(0)
		}
	}
	@media (max-width: $lg){
		@include aspect-ratio($cardWidth,$crd-ratio);
	}
	@media (max-width: $sm) {
		margin-top: 31px;
		&:nth-child(1){
			margin-top: 0;
		}
	}
	@media (max-width: $cardWidth + 30){
		aspect-ratio: unset;
		width: 90%;
		min-height: 260px;
	}
	@for $i from 1 through length($cardColors) {
		&:nth-of-type(#{$i}) {
			color: nth($cardColors, $i);
		}
		&,img:th-child(#{$i}) {
			border-color: nth($cardColors, $i);
		}
	}
}