body.whiteTheme .contactUs::before{
	@media (min-width: $md) {
		@include myGradient(316deg,0%)
	}
}
.contactUs {
	overflow: hidden;
	//height --------//
	min-height: 684px;
	height: 100vh;
	max-height: 900px;
	//--------------//
	@include flex(center);
	@media (max-width: $md) {
		min-height: initial;
		height: initial;
		max-height: initial;
		.container{
			margin: 30px auto;
		}
		.left{
			margin-bottom: 30px;
		}
	}
	&::before {
		transition: $transitionTime;
		content: "";
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		right: 0;
		background: $contactBg;
		@media (max-width: $md) {
			width: 100%;
			height: 60%;
		}
	}
	.container {
		margin: 0 !important;
		@include flex(null,center){
			@media (max-width: $md) {
				flex-direction: column;
				justify-content: space-around;
			}
		}
	}
	.right,
	.left {
		width: 50%;
		transition: $transitionTime;
		@media (max-width: $md) {
			width: 100%;
		}
	}
	.left {
		@include flex(space-between,null,column);
		height: 300px;
		@media (max-width: $md){
			height: unset;
		}
		.title{
			&::after {
				width: 80%;
				max-width: 499px;
			}
			@media (max-width: $md){
				margin-bottom: 46px;
			}
		}
		.info {
			p {
				width: 388px;
				margin-top: auto;
				line-height: 23px;
				color: $paragraphColor;
				font-size: $fs2;
				@media (max-width: $lg) {
					width: 300px;
				}
				@media (max-width: $md) {
					width: 100%;
				}
				a {
					color: $titleColor1;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.social {
			width: 274.5px;
			margin-top: 15px + 15;
			margin-bottom: 15px;
			@media (max-width: $md){
				width: 80%;
				margin-top: 15px;
				margin: 15px auto;
			}
			ul {
				@include flex(space-between,null){
					flex-wrap: wrap;
				}
				@media (max-width: $md) {
					justify-content: space-around;
				}
				li {
					list-style-type: none;
					a {
						position: relative;
						cursor: pointer;
						color: $titleColor1;
						font-size: 25px;
						display: inline-block;
						width: 52px; 
						height: 52px;
						border: 2px $titleColor1 solid;
						border-radius: 50%;
						i{
							@extend %center;
						}
						&:hover{
							background: $titleColor1;
							i{
								color: $white;
							}
						}
						&:active{
							background: rgba($titleColor1S,0.5);
						}
					}
				}
			}
		}
	}
	.right {
		z-index: 2;
		.outform {
			width: 495px;
			height: 559px;
			padding: 63.5px 50.5px;
			box-shadow: 0px 3px 6px #00000029;
			border-radius: 49px;
			background: $formColor;
			position: relative;
			@media (max-width: $md){
				margin: auto;
				width: 398px;
			}
			@media (max-width: $sm) {
				width: 100% !important;
			}
			&::before {
				content: "";
				@extend %center;
				width: 634px;
				height: 611px;
				background: $svg no-repeat center;
				color: $titleColor1;
				z-index: -1;
			}
			.form {
				@include flex(space-between,null,column);
				height: 100%;
			}
			input,
			textarea,
			button {
				outline: none;
				border: none;
				font-size: $fs2;
				color: $formFontColor;
			}
			input,
			button {
				height: 49px;
				border-radius: 25px;
				background: rgba($mainCyanS, .25);
			}
			input,
			textarea {
				padding: 15px 29px;
				&:focus{
					border: solid 2px $mainCyan;
				}
			}
			button {
				background: $mainCyan;
				color: white;
				&:hover{
					background: rgba($mainCyanS, .8);
				}
				&:active{
					background: rgba($mainCyanS, 0.5);
				}
			}
			textarea {
				background: rgba($mainCyanS, .25);
				height: 148px;
				border-radius: 27px;
				resize: none;
			}
			@media (max-width: $lg) {
				width: 371px;
				height: 420px;
				padding: 48.5px 38px;
				&::before {
					width: 476px;
					height: 458px;
				}
				input,
				button {
					height: 36px;
				}
				textarea{
					height: 111px;
				}
			}
			@media (min-width: $md) {
				margin-left: auto;
			}
		}
	}
}
