footer {
	@extend %parent;
	font-size: var(--footerfont);
	font-weight: 800;
	background: $titleColor1;
	.container {
		@include flex(space-between,center);
		height: 50px + $colorbarH;
		color:$titleColor2;
	}
	h5 {
		font: normal normal 800 var(--footerfont)/19px Montserrat;
	}
	a {
		color:$titleColor2;
		margin-left: 15px;
		font: normal normal 800 var(--footerfont)/13px Montserrat;
		&:hover{
			text-decoration: underline;
		}
	}
	&::after {
		content:"";
		width: 100%;
		height: $colorbarH;
		position: absolute;
		bottom: 0;
		background: $backgroundColor;
	}
	ul li{
		list-style: none;
	}
}