.content2 {
	border-left: none;
	padding: clamp(20px,#{$h-white},62px) 0;
	@media (max-width: $md) {
		.image{
			display: none;
		}
	}
	.right {
		width: 788px;
		margin: auto 48px;
		@media (max-width: $md) {margin: 0;}
	}
	.image {
		min-height: 400px;
		width: 500px;
		background: transparent url("../images/img2.jpg") no-repeat padding-box;
		background-size: cover;
	}
	.title::after {
		width: 100%;
	}
	p {
		font-size: $fs2;
		line-height: 23px;
		color: $paragraphColor;
		text-align: justify;
		margin:38px 0;
	}
}