%common{
	right: 55px;
	position: fixed;
	z-index: 5;
	cursor: pointer;
	display: inline-block;
	transition: $transitionTime;
	@media (max-width: $sm){
		right: 0;
	}
}
.theme{
	@extend %common;
	width: 55px;
	height: 30px;
	top: 90px;
	border-radius: 30px;
	border: 5px solid $other;
	background: $other;
	@media (max-width: $sm){
		top: 60px;
	}
	.circle{
		@extend %center-y;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		z-index: 10;
		background: $backgroundColor;
		transition: $transitionTime;
	}
}
body.whiteTheme .theme{
	.circle{
		left: 0;
	}
}
body.blackTheme .theme{
	.circle{
		left: calc(100% - 25px);
	}
}
.icon {
	@extend %common;
	top: 35px;
	margin-right: 10px;
	@media (max-width: $sm){
		margin-right: unset;
		top: 0;
		right: 0;
		padding: 8px;
	}
	.bar1,
	.bar2,
	.bar3 {
		width: 35px;
		height: 5px;
		background-color: $white;
		margin: 6px 0;
		transition: $transitionTime;
	}
	&.change{
		.bar1 {transform: rotate(-45deg) translate(-9px, 6px);}
		.bar2 {opacity: 0;}
		.bar3 {transform: rotate(45deg) translate(-8px, -8px);}
		&::before{
			top: 0;
			right: 0;
			width: 100vw;
			height: 100vh;
			border-radius: 0;
			transform: translate(65px,-35px);
			background: rgba($titleColor1S, 0.7);
			backdrop-filter: blur(10px);
			@media (max-width: $sm){
				transform: translate(0,0);
			}
		}
		&:hover{
			&::before{
				border: none;
				box-shadow: none
			}
		}
	}
	&::before{
		content: "";
		transition: $transitionTime;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%,-50%);
		width: 45px;
		height: 45px;
		padding: 5px;
		z-index: -1;
		border-radius: 50%;
		background: rgba($titleColor1S, 0.9);
		box-shadow: 0 0 0 #00000000;
		@media (max-width: $sm){
			border-radius: 0;
		}
	}
	&:hover::before{border: 3px solid $white;box-shadow: 0 0 0 1px #00000029}
}
.navigation{
	position: fixed;
	$navwidth: 550px;
	width:$navwidth;
	$heightnav:70vh;
	height: $heightnav;
	margin:15vh calc(50% - #{$navwidth / 2});
	display: none;
	z-index: 6;
	&.display{display: block}
	nav {
		@extend %center;
		text-align: center;
	}
	i {
		position: absolute;
		font-size: 2.5em;
		top: 35px;
		right: 55px;
	}
	ul {
		@extend %flex;
		$aPadding: 10px 30px;
		height: $heightnav - 14;
		flex-direction: column;
		justify-content: space-between;
		li {
			list-style: none;
			a {
				color: $white;
				font-size: $fs4;
				padding: $aPadding;
				border-radius: 49px;
				min-width: 100px;
			}
			&:nth-child(1) {
				a {
					color: $titleColor1;
    				background: $backgroundColor;
				}
			}
			&:hover {
				a {
					color: $titleColor1;
					background: $backgroundColor;
					box-shadow: 0px 3px 6px #00000029;
				}
			}
		}
	}
}
