.container {
    width: 530px+48+563;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.title {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800;
	transition: $transitionTime;
	color: $titleColor1;
	text-transform: uppercase;
	margin-bottom: 19px;
	user-select: none;
    @media (max-width: $md) {
        text-align: center;
		text-shadow: 0px 3px 6px #00000029;
		&::after{
			box-shadow: 0px 3px 6px #00000029;
		}
    }
    h1 {font-size: $fs6;}
    h2 {font-size: $fs5;}
    h3 {font-size: $fs4;}
    position: relative;
    &::after {
        content: "";
		transition: $transitionTime;
        background: $titleColor1 !important;
        position: absolute;
		height: 6px;
        left: 0;
		bottom: -19px;
        @media (max-width: $md) {
            width: 100% !important;
        }
    }
}
a {
	text-decoration: none;
}
.filter{
	backdrop-filter: blur(10px);
	z-index: -50;
	position: absolute;
}
.fade-in {
    opacity: 0;
    transition: opacity $transitionTime;
    &.appear {
        opacity: 1;
    }
}
@media (min-width: $lg){
	.from-left {
		transform: translateX(-50%);
	}
	.from-right {
		transform: translateX(50%);
	}
}
.slide-in {
    opacity: 0;
    transition: transform $transitionTime, opacity $transitionTime;
    &.appear {
        transform: translateX(0);
        opacity: 1;
    }
}
%mygradient0{
	@include myGradient(109deg,0%)
}
%flex,
.flex {
	display: flex;
}
%parent,
.parent {
	position: relative;
	width: 100%;
}
%circle {
	border-radius: 50%;
}
%center-y,
.centerY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
%center-x{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
%center {
	@include center;
}
@each $screen,$width in $screens {
	@include mq-container(#{$screen},#{$width});
	@if ($screen == $sm) {
		@media (max-width: $width + 28){
			.container{width: 90%}
			.hide-xs{display: none}
		}
	}
}

@media (max-width: $lg) {
	:root {
		--cardfont: 13px;
		--fontsize1: 14px;
		--fontsize2: 16px;
		--fontsize3: 18px;
		--fontsize4: 26px;
		--fontsize5: 48px;
		--fontsize6: 53px;
	}
}
@media (max-width: $md) {
	:root {
		--footerfont: 11px;
		--fontsize5: 46px;
		--fontsize6: 57px;
	}
}
@media (max-width: $sm) {
	:root {
		--footerfont: 10px;
		--fontsize5: 35px;
		--fontsize6: 47px;
	}
}